# Hidden files
.DS_Store

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Single directories
/uas_mood.egg-info/

# Recursive directories
.ipynb_checkpoints/
__pycache__/
.pytest_cache/
.vscode/

# Tester file
/uas_mood/tester.py
