 Hidden files
.DS_Store

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Single directories
/uas_mood.egg-info/
/uas_mood/logs/
/uas_mood/out_dir/

# Recursive directories
.ipynb_checkpoints/
__pycache__/
.pytest_cache/
.vscode/

# All files in model_ckpts
/uas_mood/model_ckpts/**

# Run and tester file
/uas_mood/tester.py
/uas_mood/run.sh

# w&b-created directories
/uas_mood/artifacts/
/uas_mood/wandb/

# Baseline scripts
/uas_mood/train_vae_cxr14.py
/uas_mood/train_vae_mood.py
