# Hidden files
.DS_Store

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Single directories
/uas_mood.egg-info/
/uas_mood/logs/
/uas_mood/out_dir/

# Recursive directories
.ipynb_checkpoints/
__pycache__/
.pytest_cache/
.vscode/

# All files in model_ckpts
/uas_mood/model_ckpts/**

# Tester file
/uas_mood/tester.py
